@charset "UTF-8";
/* CSS Document */

.pagination {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction:row;
  justify-content:space-between;
  padding: 0px 15px 15px 15px;
}

.pagination a {
  color: crimson;
  float: center;
  padding: 8px 1px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px ;
}
a.pag:hover{
  background-color: #ddd;   